@helper GoodBad(double number, double goodBadMidNumber)
{
    <span class="@(number >= goodBadMidNumber ? "good" : "bad")"> @number.ToString("0.#") </span>
}

@helper RatingClass(int rating)
{
    var ratingClass =
        (rating < 900)  ? "rating-1" :
        (rating < 1200) ? "rating-2" :
        (rating < 1500) ? "rating-3" :
        (rating < 2200) ? "rating-4" :
                          "rating-5";
    {
        <span class="@ratingClass"> @rating </span>
        
    }
}