@model TopCoder.Analysis.Web.Models.Rounds.SingleModel
@{
    ViewBag.Title = "Round " + Model.Round.Name;
}

<script type="text/javascript">
    $(function () {
        $('.round-col').remove();

        $('#tabs').tabs();
    });
</script>

<h2>Round @Model.Round.Name</h2>

@{ Html.RenderPartial("RoundsTablePart", Tuple.Create(true, new [] { Model.Round }.AsEnumerable())); }

<div id="tabs">
    <ul>
        <li><a href="#div-1">Division 1 Results</a></li>
        <li><a href="#div-2">Division 2 Results</a></li>
    </ul>
    <div id="div-1">
        @{ Html.RenderPartial("Single_Division", Tuple.Create(1, Model)); }
    </div>
    <div id="div-2">
        @{ Html.RenderPartial("Single_Division", Tuple.Create(2, Model)); }
    </div>
</div>

