<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    
    <add name="TcAnalysisDataModel" providerName="System.Data.EntityClient"
        connectionString="metadata=res://*/TcAnalysisDataModel.csdl|res://*/TcAnalysisDataModel.ssdl|res://*/TcAnalysisDataModel.msl;provider=System.Data.SqlClient;provider connection string=
            &quot;data source=localhost;initial catalog=TopCoder;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"  />
    
  </connectionStrings>

  <system.diagnostics>

    <trace autoflush="true" indentsize="3">
      <listeners>

        <clear />
        
        <add name="ConsoleTrace" type="System.Diagnostics.ConsoleTraceListener" />

      </listeners>
    </trace>

  </system.diagnostics>
  
</configuration>